.colorModeContainer {
	padding: 20px 40px;
}

.heroImg {
	display: block;
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	margin: auto auto;
}
.iconLink {
	text-decoration: none;
	color: var(--primary-color);
}

main {
	margin: 50px 20px 0 20px;
	padding: 40px 0 60px 0;
	text-align: center;
	border-bottom: 1px solid var(--primary-color);
}
.icons {
	margin-top: 1rem;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	gap: 20px;
}
.icons a {
	padding: 0.4rem;
}
.icons a:hover {
	color: var(--secondary-color);
	transition: all 0.5s ease-out;
}
.textSecondary {
	color: var(--secondary-color);
}
.description {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.btn {
	background-color: var(--primary-color);
	color: var(--background-color);
	padding: 10px 20px;
	border-radius: 6px;
	font-weight: 700;
	margin: auto auto;
	width: 200px;
}

.btn i {
	margin-left: 10px;
}

@media only screen and (min-width: 992px) {
	main {
		display: flex;
		gap: 40px;
		max-width: 700px;
		width: 700px;
		padding: 40px 20px 60px 20px;
		margin: 100px auto auto auto;
		justify-content: space-between;
	}
	.colorModeContainer {
		order: 2;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.heroImg {
		width: 300px;
		height: 300px;
	}
	.infoContainer {
		order: 1;
	}
}
