.colorModeContainer {
	padding: 20px 40px;
}

.heroImg {
	display: block;
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	margin: auto auto;
}

.bgImg {
	height: 100%;
	width: 100%;
	position: relative;
}

.bgImg::after {
	content: "";
	background: url("../../assets/background.jpg");
	background-size: cover;
	position: absolute;
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

h1,
h2 {
	font-weight: 400;
	color: #eee;
}

h1 {
	font-family: "Poiret One", cursive;
}

h2 {
	font-family: "Quicksand", cursive;
}

h1.lgHeading,
h2.lgHeading {
	font-size: 4rem;
}
h1.smHeading,
h2.smHeading {
	margin-bottom: 2rem;
	padding: 0.2rem 1rem;
	background: rgba(52, 61, 71, 0.5);
}
a,
.icoLink {
	text-decoration: none;
	color: #eee;
}

main {
	padding: 20px;
}
main .icons {
	margin-top: 1rem;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	gap: 20px;
}
main .icons a {
	padding: 0.4rem;
}
main .icons a:hover {
	color: #4fd8a6;
	transition: all 0.5s ease-out;
}
main#home {
	overflow: hidden;
}
.textSecondary {
	color: #4fd8a6;
}
